.Container {
    background-color: #F4F4F4;
    margin: 0px;
    padding: 0px;
  }

  .Tambo_Ganaderia {
    position: relative;
  }

  .ImgFondo {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
  }

.H2Contact {
    position: absolute;
    top: 20%;
    left: 15%;
    text-align: center;
    font-size: 1.5em;
    color: white;
    width: 70%; 
  }

  .WavyTransitions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
    z-index: 0;
  }
  
  .WavySvg {
    height: 100%;
    width: 100%;
  }
  
  .WavyPath {
    stroke: none;
    fill: #F4F4F4;
  }

  .sliderContainer h2 {
    display: flex;
    justify-content: center;
  }

  .sliderContainer {
    display: flex;
    justify-content: space-around;
  }
  
  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color:white;
    border: 2px solid rgb(250, 197, 3);
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .slide p {
    font-size: 1.2em;
    font-weight: 700;
  }

  .VerMas {
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: 2;
    border: none;
    background-color: transparent;
    margin: 0px;
  }